.c-form {
    &__textbox { 
        background-color: white;
        width: 520px;
        height: 40px;
    }

    &__textarea {
        background-color: white;
        width: 520px;
        height: 160px;
    }
} 