// イラストのあしらいのスタイリング（文字の位置調整のCSSは適応しない事）

@use '../../foundation/mixin' as mixin;

.c-illust {
    &__ecllipse {
        width: 80px;
        height: 80px;
            @include mixin.smartphone {
                width: 25px;
                height: 25px;
              }
    }

    &__contentcloud {
        width: 208px;
        height: 78px;
            @include mixin.smartphone {
                width: 100px;
                height: 38px;
            }
    }

    &__loctioncloud {
      width: 200px;
      height: 54px;
    }

    &__loctionflower {
      width: 120px;
      height: 120px;
    }

    &__topfan {
      width: 120px;
      height: 50px;
    }

    &__topmap {
      width: 410px;
      height: 620px;
    }

    &__topwave {
      width: 210px;
      height: 65px;
    }

    &__label {
      width: 20px;
      height: 27px;
    }


    
}