.u-margin {
    &__top50 {
        margin-top: 50px;
    }
    &__top75 {
        margin-top: 75px;
    }

    &__top125 {
        margin-top: 125px;
    }

    &__left80 {
        margin-left: 80px;
    }

    &__bottom6 {
        margin-bottom: 6px;
    }

}