@use "../../foundation/mixin" as mixin;

//PC版のスタイリング（一部スマホ版のマージンも設定する）

.u-margin {
    &__top40 {
        margin-top: 40px;
    }

    &__top50 {
        margin-top: 50px;
    }

    &__top60 {
        margin-top: 60px;
    }

    &__top75 {
        margin-top: 75px;
    }

    &__top100 {
        margin-top: 100px;
    }

    &__top125 {
        margin-top: 125px;

        @include mixin.smartphone { 
            margin-top: 50px;
        }

    }

    &__left80 {
        margin-left: 80px;

        @include mixin.smartphone { 
            margin-left: 0;
        }
    }

    &__left80 {
        margin-left: 80px;

        @include mixin.smartphone { 
            margin-left: 0;
        }
    }

    &__bottom6 {
        margin-bottom: 6px;
    }

    &__bottom90 {
        margin-bottom: 90px;
    }
    
    &__topbottom30 {
        margin: 30px 0 30px 0;
    }

    &__topbottom40 {
        margin: 40px 0 40px 0;
    }

    &__topbottom60 {
        margin: 60px 0 60px 0;
    }

/////ここからスマホのスタイリング
    &__top-phone30 {
    @include mixin.smartphone {
        margin-top: 30px;
       }
    }


    &__left-phone30 {
        @include mixin.smartphone {
            margin-left: 30px;

        }



    }


}