@use "../../foundation/mixin" as mixin;

.p-firstview {
    width: 100%;
    height: 650px;
    background:url(/content/img/firstview.png) no-repeat center/cover;
    display: flex;
    align-items: center;
}

.p-topnews {
    width: 100%;
    height: 500px;
    background-color: #232121;
    @include mixin.verticalcenter;

    &__contents {
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }


    &__link {
      width: 760px;
      display: flex;
      height: 25px;
      line-height: 25px;
    }

}

.p-articleheader {
    width: 100%;
    display: flex;
    justify-content: center;
    //文字の重なり
    position: relative;

    &__text {
        //文字の重なり
        position: absolute;
        top: 55px;
    }

    &__accesstext {
        position: absolute;
        top: 40px;
    }
}

.p-advantage {
    width: 100%;
    height: 100%;
    background-color: black;
    @include mixin.verticalcenter;

    &__point {
        width: 100%;
        height: 160px;
        @include mixin.verticalcenter;
        position: relative;
    }

    &__pointtext {
        font-size: 24px;       
        position: absolute;
        top: 50px;
        @include mixin.verticalcenter;
    }

    &__loction {
        width: 100%;
        height: 750px;
        background:url(/content/img/goldring.png) center center / 700px 700px no-repeat;
        @include mixin.verticalcenter;
    }

    &__airport {
        @include mixin.verticalcenter;
    }

    &__loctiontext {
        @include mixin.verticalcenter;
    }

    &__shinsaibashi {
        display: flex;
        width: 920px;
        justify-content: space-between;

    }

    &__town {
        width: 280px;
        @include mixin.verticalcenter;
        position: relative;
    }

    &__flowerleft {
        position: absolute;
        top: -62px;
        left: -65px;
        z-index: 1;
    }

    &__flowerright {
        position: absolute;
        top: -62px;
        right: -65px;
        
    }

    &__photo {
        z-index: 2;
    }

    &__gourmet {
        display: flex;
        width: 920px;

    }

    &__gourmetext {
        width: 480px;
        @include mixin.verticalcenter;
        justify-content: center;
    }

    &__beeftext {
        @include mixin.verticalcenter;
    }

    &__toproom {
        @include mixin.verticalcenter;
        height: 600px;
        justify-content: space-between;
    }

    &__bedroom {
        width: 920px;
        display: flex;
        justify-content: space-between;
    }
}

.p-sns {
    width: 100%;
    height: 100%;
    background-color: #232121;
    @include mixin.verticalcenter;

    &__contents {
        width: 1100px;
        display: flex;
        justify-content: space-between;
    }

    &__tiktok {
      @include mixin.verticalcenter;
    }
}

.p-topplan {
    width: 100%;
    height: 100%;
    background-color: #000000;
    @include mixin.verticalcenter;
}

.p-topmap {
    width: 100%;
    height: 100%;
    background-color: #232121;
    @include mixin.verticalcenter;

    &__content {
        display: flex;
        width: 800px;
    }

    &__comment {
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    &__access {
       @include mixin.verticalcenter;
    }
}

.p-swiper {
    width: 90vw;
    height: 470px;

    &__wrapper {
        @include mixin.verticalcenter;
    }

    &__thumbnail {
        width: 440px;
    }

}


