@use "../../foundation/mixin" as mixin;

.p-firstview {
    width: 100%;
    height: 650px;
    background:url(/content/img/firstview.png) no-repeat center/cover;
    display: flex;
    align-items: center;

        @include mixin.smartphone {
           height: 250px;
        }
}

.p-topnews {
    width: 100%;
    height: 500px;
    background-color: #232121;
    @include mixin.verticalcenter;

        @include mixin.smartphone {
            height: 410px;
        }

        &__contents {
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
                
               @include mixin.smartphone {
                  height: 170px;
               }

        }


        &__link {
          width: 760px;
          display: flex;
          height: 25px;
          line-height: 25px;

              @include mixin.smartphone {
                  align-items: center;
                  flex-direction: column;
              }
        }

}

.p-articleheader {
    width: 100%;
    display: flex;
    justify-content: center;
    //文字の重なり
    position: relative;

    &__text {
        //文字の重なり
        position: absolute;
        top: 55px;

        @include mixin.smartphone {
          top: 15px;
       }
    }

    &__accesstext {
        position: absolute;
        top: 40px;
    }
}

.p-advantage {
    width: 100%;
    height: 100%;
    background-color: black;
    @include mixin.verticalcenter;

    &__point {
        width: 100%;
        height: 160px;
        @include mixin.verticalcenter;
        position: relative;
            @include mixin.smartphone {
                height: 100px;
            }
    }

    &__pointtext {    
        position: absolute;
        top: 50px;

        > P {
            font-size: 24px;  
            @include mixin.smartphone {
               font-size: 16px;
            }
        }
        @include mixin.verticalcenter;
            @include mixin.smartphone {
                top: 30px;
                
            }
    }

    &__loction {
        width: 100%;
        height: 750px;
        background:url(/content/img/goldring.png) center center / 700px 700px no-repeat;
        @include mixin.verticalcenter;
    }

    &__airport {
        @include mixin.verticalcenter;
    }

    &__loctiontext {
        @include mixin.verticalcenter;
    }

    &__shinsaibashi {
        display: flex;
        width: 920px;
        justify-content: space-between;

    }

    &__town {
        width: 280px;
        @include mixin.verticalcenter;
        position: relative;
    }

    &__flowerleft {
        position: absolute;
        top: -62px;
        left: -65px;
        z-index: 1;
    }

    &__flowerright {
        position: absolute;
        top: -62px;
        right: -65px;
        
    }

    &__photo {
        z-index: 2;
    }

    &__gourmet {
        display: flex;
        width: 920px;

    }

    &__gourmetext {
        width: 480px;
        @include mixin.verticalcenter;
        justify-content: center;
    }

    &__beeftext {
        @include mixin.verticalcenter;
    }

    &__toproom {
        @include mixin.verticalcenter;
        height: 600px;
        justify-content: space-between;
    }

    &__bedroom {
        width: 920px;
        display: flex;
        justify-content: space-between;
    }
}

.p-sns {
    width: 100%;
    height: 100%;
    background-color: #232121;
    @include mixin.verticalcenter;

    &__contents {
        width: 1050px;
        display: flex;
        justify-content: space-between;
    }

    &__tiktok {
      @include mixin.verticalcenter;
    }
}

.p-topplan {
    width: 100%;
    height: 100%;
    background-color: #000000;
    @include mixin.verticalcenter;
}

.p-topmap {
    width: 100%;
    height: 100%;
    background-color: #232121;
    @include mixin.verticalcenter;

    &__content {
        display: flex;
        width: 800px;
    }

    &__comment {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__access {
        @include mixin.verticalcenter;
    }
}

.p-topcontact {
    width: 100%;
    height: 100%;
    background-color: black;
    @include mixin.verticalcenter;

        &__form {
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }

        &__textbox,&__label {
            height: 40px;
            display: flex;
            align-items: center;
        }

        &__textbox {
            justify-content: space-between;
            width: 700px; 
        }

        &__textarea {
            display: flex;
            justify-content: space-between;
        }
}

.p-toptraval {
    width: 100%;
    height: 100%;
    background-color: #232121;
    @include mixin.verticalcenter;
}

.p-swiper {
    width: 90vw;
    height: 470px;

    &__wrapper {
        @include mixin.verticalcenter;
    }

    &__thumbnail {
        width: 440px;
    }

}

.p-footer {
    &__content {
        @include mixin.verticalcenter;
    }

    &__name {
        width: 360px;
        display: flex;
        justify-content: space-between;
    }
    
}


