@charset "UTF-8";
/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  color: white;
  font-family: "Zen Old Mincho", serif;
}

header {
  background-color: black;
}

h3 {
  font-size: 36px;
}

p {
  line-height: 1.7;
}

/* PCはWidthが691pxより大きい */
/* スマホはWidthが690pxより小さい */
.p-header {
  height: 100px;
  display: flex;
  justify-content: center;
}

@media (max-width: 690px) {
  .p-header {
    height: 50px;
  }
}
.p-header__pc {
  height: 100px;
  width: 920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 690px) {
  .p-header__pc {
    display: none;
  }
}
.p-header__list {
  width: 680px;
  display: flex;
  justify-content: space-around;
}

.p-header__mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

@media (min-width: 691px) {
  .p-header__mobile {
    display: none;
  }
}
.p-firstview {
  width: 100%;
  height: 650px;
  background: url(/content/img/firstview.png) no-repeat center/cover;
  display: flex;
  align-items: center;
}

.p-topnews {
  width: 100%;
  height: 500px;
  background-color: #232121;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-topnews__contents {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-topnews__link {
  width: 760px;
  display: flex;
  height: 25px;
  line-height: 25px;
}

.p-articleheader {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.p-articleheader__text {
  position: absolute;
  top: 55px;
}

.p-advantage {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-advantage__point {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.p-advantage__pointtext {
  font-size: 24px;
  position: absolute;
  top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-advantage__loction {
  width: 100%;
  height: 750px;
  background: url(/content/img/goldring.png) center center/700px 700px no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-advantage__airport {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-advantage__loctiontext {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-advantage__shinsaibashi {
  display: flex;
  width: 920px;
  justify-content: space-between;
}

.p-advantage__town {
  width: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.p-advantage__flowerleft {
  position: absolute;
  top: -62px;
  left: -65px;
  z-index: 1;
}

.p-advantage__flowerright {
  position: absolute;
  top: -62px;
  right: -65px;
}

.p-advantage__photo {
  z-index: 2;
}

.p-advantage__gourmet {
  display: flex;
  width: 920px;
}

.p-advantage__gourmetext {
  width: 480px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.p-advantage__beeftext {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-advantage__toproom {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
}

.p-advantage__bedroom {
  width: 920px;
  display: flex;
  justify-content: space-between;
}

.p-sns {
  width: 100%;
  height: 100%;
  background-color: #232121;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-sns__contents {
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.p-sns__tiktok {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-plan {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-swiper {
  width: 90vw;
  height: 470px;
}

.p-swiper__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-swiper__thumbnail {
  width: 440px;
}

.c-logo__header {
  width: 69px;
  height: 40px;
}

.c-logo__firstview {
  width: 330px;
  height: 330px;
}

.c-hambergerbutton {
  width: 30px;
  height: 30px;
  position: relative;
}

.c-hambergerbutton__bar {
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  background: white;
}

.c-hambergerbutton__bar:nth-child(1) {
  top: 0;
}

.c-hambergerbutton__bar:nth-child(2) {
  top: 50%;
}

.c-hambergerbutton__bar:nth-child(3) {
  top: 100%;
}

.c-photo__firstview {
  width: 100vw;
  height: 650px;
}

.c-photo__loction {
  width: 280px;
  height: 200px;
}

.c-photo__wagu {
  width: 440px;
  height: 660px;
}

.c-photo__topswiper {
  width: 920px;
  height: 450px;
  object-fit: cover;
  box-shadow: 20px 20px #57451C;
}

.c-photo__topthumbnail {
  width: 120px;
  height: 120px;
  box-shadow: 10px 10px #57451C;
}

.c-photo__toproom {
  width: 420px;
  height: 260px;
  box-shadow: 20px 20px #57451C;
}

.c-photo__tiktok {
  box-shadow: 20px 20px #57451C;
}

.c-illust__ecllipse {
  width: 80px;
  height: 80px;
}

.c-illust__contentcloud {
  width: 208px;
  height: 78px;
}

.c-illust__loctioncloud {
  width: 200px;
  height: 54px;
}

.c-illust__loctionflower {
  width: 120px;
  height: 120px;
}

.c-illust__topfan {
  width: 120px;
  height: 50px;
}

.c-underline__white {
  position: relative;
}

.c-underline__white::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  width: 100%;
  height: 0.5px;
  transform-origin: left top;
  transform: scale(0, 1);
  transition: transform 0.3s;
  background-color: white;
}

.c-underline__white:hover::after {
  transform: scale(1, 1);
}

.c-text__name {
  font-size: 24px;
}

.u-margin__top50 {
  margin-top: 50px;
}

.u-margin__top75 {
  margin-top: 75px;
}

.u-margin__top100 {
  margin-top: 100px;
}

.u-margin__top125 {
  margin-top: 125px;
}

.u-margin__left80 {
  margin-left: 80px;
}

.u-margin__bottom6 {
  margin-bottom: 6px;
}

.u-margin__bottom90 {
  margin-bottom: 90px;
}
/*# sourceMappingURL=kamiyoshi-style.css.map */